<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Propriétés de connexion à la base de données - Driver, URL, user, password -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:file:.\devdb</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialect -->
        <property name = "hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Type de communication -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Chargement du SQL avec Hibernate / none pour production -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Affichage des requêtes SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- UTC utilisé dans la base de données -->
        <property name="hibernate.jdbc.time_zone">Europe/Paris</property>

        <!-- Encoding  -->
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <!-- Mappage avec les classes de modèle contenant des annotations  -->
        <mapping class="io.swagger.model.Survey"/>
        <mapping class="io.swagger.model.Comment"/>
        <mapping class="io.swagger.model.Option"/>
        <mapping class="io.swagger.model.Vote"/>
        <mapping class="io.swagger.model.MostMaybe"/>
        <mapping class="io.swagger.model.MostPossible"/>
        <mapping class="io.swagger.model.Analytics"/>

    </session-factory>
</hibernate-configuration>